.picture-of-video-1 {
    background: url(../video-1.jpg) no-repeat 50%;
}
.picture-of-video-2 {
    background: url(../video-2.jpg) no-repeat 50%;
}
.picture-of-video-3 {
    background: url(../video-3.jpg) no-repeat 50%;
}
.picture-of-video-4 {
    background: url(../video-4.jpg) no-repeat;
}
[class^='picture-of-video'] {
    height: 70px;
    width: 80px;
    background-size: cover;
}
.video {
    height: inherit;
    width: inherit;
    padding-left: 20px;
    display: flex;
    align-items: center;
}
.video a {
    color: #202021;
    text-decoration: none;
    font-family: Arial;
    font-weight: bold;
    font-size: 12px;
    float: right;
    width: 190px;
    margin-left: 15px;
    margin-right: 15px;
    align-self: center;
}
.video a:hover {
    color: #CF0000;
}