.favourites-articles {
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    justify-content: flex-start;
    align-content: flex-start;
}
.no-chose {
    text-align: center;
    width: 800px;
}
.no-chose p {
    font-size: 25px;
    font-style: italic;
}