.footer-menu {
    list-style: none;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
}
.footer-menu li a {
    text-decoration: none;
    font-family: Arial;
    font-size: 14px;
    color: #202021;
    display: block;
    margin-left: -4px;
    padding-right: 17px;
    padding-left: 17px;
    border-right: 1px solid #202021;
}
.footer-menu li:last-child a {
    border-right: none;
}
.footer-menu li a:hover {
    background: #202021;
    color: white;
}