.video-page video {
    float: left;
    height: 282px;
    width: 500px;
    margin-right: 20px;
}
.video-page h2 {
    margin-bottom: 15px;
}
.video-page {
    margin-right: 15px;
}
.video-page p {
    text-align: justify;
    text-indent: 20px;
}
