.gallery-image-1 {
    background: url(gallery-1.jpg) no-repeat;
}
.gallery-image-2 {
    background: url(gallery-2.jpg) no-repeat 30% 50%;
}
.gallery-image-3 {
    background: url(gallery-3.jpg) no-repeat;
}
.gallery-image-4 {
    background: url(gallery-4.jpg) no-repeat;
}
.gallery-image-5 {
    background: url(gallery-5.jpg) no-repeat;
}
.gallery-image-6 {
    background: url(gallery-6.jpg) no-repeat;
}
.main-content .gallery .flex-container {
    flex-wrap: wrap;
    justify-content: space-between;
    width: 530px;
}
[class^='gallery-image-'] {
    width: 170px;
    height: 120px;
    background-size: cover;
}
.gallery-image-3, .gallery-image-6 {
    margin-right: 0;
}
.gallery-image-1, .gallery-image-2, .gallery-image-3 {
    margin-bottom: 10px;
}