.image-gallery-1 {
    background: url(gallery-1.jpg) no-repeat;
}
.image-gallery-2 {
    background: url(gallery-2.jpg) no-repeat 30% 50%;
}
.image-gallery-3 {
    background: url(gallery-3.jpg) no-repeat;
}
.image-gallery-4 {
    background: url(gallery-4.jpg) no-repeat;
}
.image-gallery-5 {
    background: url(gallery-5.jpg) no-repeat;
}
.image-gallery-6 {
    background: url(gallery-6.jpg) no-repeat;
}
.main-content .gallery .flex-container {
    flex-wrap: wrap;
    justify-content: space-between;
    width: 530px;
}
[class^='image-gallery-'] {
    width: 170px;
    height: 120px;
    background-size: cover;
}
.image-gallery-3, .image-gallery-6 {
    margin-right: 0;
}
.image-gallery-1, .image-gallery-2, .image-gallery-3 {
    margin-bottom: 10px;
}