.search input {
    width: 220px;
    height: 30px;
    margin-right: 35px;
    margin-top: 3px;
}
.search {
    position: relative;
}
.search::after {
    position: absolute;
    content: '';
    display: block;
    clear: both;
    width: 35px;
    height: 30px;
    right: 0;
    bottom: 0;
    background: black url(search.jpg) no-repeat 50%;
}