.world-news-item p, .latest-article-item p, .tech-news-item p, .popular-news-item p, .desk-article-item p {
    margin-right: 25px;
	text-align: justify;
	font-size: 18px;
	text-indent: 25px;
	font-family: serif;
}
.world-news-item h2, .latest-article-item h2, .tech-news-item h2, .popular-news-item h2, .desk-article-item h2 {
    margin-right: 25px;
}
.world-news-img-1 {
	background: url(../Articles/world-news-1.jpeg)
}
.world-news-img-2 {
	background: url(../Articles/world-news-2.jpg)
}
.world-news-img-3 {
	background: url(../Articles/world-news-3.jpg)
}
[class^='world-news-img-'] {
	background-size: cover;
}
[class^='world-news-img-'], [class^='latest-articles-img'], [class^='desk-img'],
[class^='editorial-page-img-'] {
	width: 300px;
	height: 200px;
	float: left;
}
.world-news-item div, .latest-article-item div, .desk-article-item div, .editorial-item div {
    margin-right: 20px;
}