.news-menu-world-news-img-1 {
    background: url(../news-menu-world-news-1.jpg) no-repeat;
}
.news-menu-world-news-img-2 {
    background: url(../news-menu-world-news-2.jpg) no-repeat;
}
.news-menu-world-news-img-3 {
    background: url(../news-menu-world-news-3.jpg) no-repeat;
}
.news-menu-world-news-img-4 {
    background: url(../news-menu-world-news-4.jpg) no-repeat;
}
.news-menu-world-news-img-5 {
    background: url(../news-menu-world-news-5.jpg) no-repeat;
}
.news-menu-world-news-img-6 {
    background: url(../news-menu-world-news-6.jpg) no-repeat;
}
.news-menu-world-news-article:not(:nth-child(3n)), .news-menu-science-article:not(:nth-child(3n)), .news-menu-sports-article:not(:nth-child(3n)), .news-menu-tech-article:not(:nth-child(3n)), .news-menu-music-article:not(:nth-child(3n)), .news-menu-books-article:not(:nth-child(3n)), 
.news-menu-culture-article:not(:nth-child(3n)), .news-menu-entertainment-article:not(:nth-child(3n)), .news-menu-movies-article:not(:nth-child(3n)), .news-menu-business-article:not(:nth-child(3n)) {
    margin-right: 100px;
}
.news-menu-world-news-article, .news-menu-science-article, .news-menu-sports-article,
.news-menu-tech-article, .news-menu-music-article, .news-menu-books-article, 
.news-menu-culture-article, .news-menu-entertainment-article, .news-menu-movies-article,
.news-menu-business-article {
    margin-bottom: 15px;
}
.news-menu-world-news-article a, .news-menu-science-article a,.news-menu-sports-article a,
.news-menu-tech-article a, .news-menu-music-article a, .news-menu-books-article a, 
.news-menu-culture-article a, .news-menu-entertainment-article a, .news-menu-movies-article a,
.news-menu-business-article a {
    text-decoration: none;
    color: black;
}
.news-menu-world-news-article a:hover, .news-menu-science-article a:hover,
.news-menu-sports-article a:hover, .news-menu-tech-article a:hover,
.news-menu-music-article a:hover, .news-menu-books-article a:hover, 
.news-menu-culture-article a:hover, .news-menu-entertainment-article a:hover, .news-menu-movies-article a:hover, .news-menu-business-article a:hover {
    color: #CF0000;
}
[class^='news-menu-world-news-img-'], [class^='news-menu-science-img-'], [class^='news-menu-sports-img-'],
[class^='news-menu-tech-img-'], [class^='news-menu-music-img-'], [class^='news-menu-books-img-'], 
[class^='news-menu-culture-img-'], [class^='news-menu-entertainment-img-'], [class^='news-menu-movies-img-'],
[class^='news-menu-business-img-'] {
    width: 200px;
    height: 100px;
}
[class^='news-menu-world-news-img-'] {
    background-size: cover;
}
.news-menu-world-news-article h5, .news-menu-science-article h5, .news-menu-sports-article h5,
.news-menu-tech-article h5, .news-menu-music-article h5, .news-menu-books-article h5, 
.news-menu-culture-article h5, .news-menu-entertainment-article h5, .news-menu-movies-article h5,
.news-menu-business-article h5 {
    width: 200px;
    margin-top: 7px;
}